.ui.dividing.feed .event{
  border-bottom: 1px solid rgba(31,31,31, .1);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.ui.dividing.feed .event:last-child{
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.ui.inverted.segment{
  color: rgba(255, 255, 255, 1) !important;
}
.monitoring.list .item{
  padding: 1em 0;
}
.majeure{
  background: #309f89 !important;
}
.majeure.top.header{
  height: 70px; display: flex; align-items: center; justify-content: center;
  /*background: #27806e;*/
  border-bottom: 2px solid #2b8c79 !important;
}
.majeure.segment{
  border-bottom: none !important;
  border-right: none !important;
  border-left: none !important;
}
.majeure.bottom.header{
  border-top: 2px solid #2b8c79 !important;
  padding: 1.2em 0;
}
.majeure.bottom.header .sub.header{
  font-size: .55em;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff
}
.majeure > .ui.list > .item{
  padding: 1.2em 0;
  font-size: 1em;
  font-weight: bold;
  border-top: 1px solid rgba(34,36,38,.15);
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.majeure > .ui.list > .item:before{
  content: counters(ordered, ".") ". ";
  color: #fff;
}
.majeure > .ui.list > .item:last-child{
  border-bottom: none;
}
.fluid.content{
  width: 100%;
}
.progress{
  margin: 0 !important;
  top: 0 !important;
}
.right.floated.text{
  float: right;
}
/*.extra.text{
  text-align: justify;
}
.read-more{
  float: right;
  }*/
