.text.white {
  color: #FFFFFF;
}
.text.grey {
  color: #A0A0A0;
}
.text.black {
  color: #111111;
}
.text.yellow {
  color: #FBBD08;
}
.text.teal {
  color: #00B5AD;
}
.text.red {
  color: #DB2828;
}
.text.purple {
  color: #A333C8;
}
.text.pink {
  color: #E03997;
}
.text.orange {
  color: #F2711C;
}
.text.green {
  color: #21BA45;
}
.text.blue {
  color: #2185D0;
}
.text.olive {
  color: #B5CC18;
}
.text.violet {
  color: #6435C9;
}
.text.brown {
  color: #A5673F;
}

.no-margin {
  margin: 0!important;
}

.ui.list .item .content .description {
  font-style: italic;
}

html {
  font-size: 14px;
}
body {
  line-height: 1.75!important;
}

#nav .icon.item {
  padding-left: .4rem;
  padding-right: .4rem;
}
#nav .icon.item .flag {
  margin-right: 0;
}
#nav .item {
  border-left: transparent;
  max-width: 140px;
}
#nav .right.item {
  max-width: none;
}
#nav .special.item {
  border: 1px solid #FBBD08;
  border-radius: 5px;
}

#nav .item:before {
  display: none;
}
#nav .item .ui.primary.button {
  background: rgba(24,144,148, 1) !important;
}

.hidden.menu {
  display: none;
}
.user-menu .item .button {
  margin-left: .25rem!important;
  margin-right: .25rem!important;
}
.user-menu .item .button:first-child {
  margin-left: 0!important;
}
.user-menu .item .button:last-child {
  margin-right: 0!important;
}
.masthead {
  background: url('../img/backgrounds/front-01.jpg') center center transparent !important;
  background-attachment: fixed !important;
  background-size: cover!important;
}
.masthead:before {
  content: " ";
  position: absolute;
  top: 0; left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25)
}
.masthead .text.container {
  position: absolute;
  right: 2rem; bottom: 10%;
  transform: translate(-2rem, -10%);
  text-align: right;
  margin: 0!important;
  width: 100%!important;
}
.masthead.segment {
  /*height: 100vh;*/
  height: 70vh;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
  margin-top: 0
}
.masthead .ui.secondary.pointing.menu {
  border-color: transparent;
}

.ui.vertical.stripe {
  padding: 6em 0em;
}
.ui.vertical.stripe:last-child {
  padding-bottom: 0
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  margin-top: 0;
  padding: 3em 0em;
  background-color: #eee!important;
}
.real-footer.segment {
  margin-top: 0;
  padding: 1em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.work-order {
  background-image: url('../img/front/work-order.png');
  background-color: rgba(24,144,148, 1)!important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 400px;
  color: #fff!important;
  display: flex;
  justify-content: center;
  height: 550px;
}

#scope {
  background: url('../img/backgrounds/front-01.jpg') center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  perspective: 2px;
}
#scope:before {
  content: " ";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(255,255,255,0.8);

  /*transform: translateZ(-1px) scale(1.5);*/
}

#banner {
  background: url('../img/front/banner1.png') center center;
  background-size: cover;
  position: relative;
  perspective: 2px;
  height: 50vh;
}

.masthead-menu {
  max-width: auto;
  width: 98%!important;
}
.masthead-menu .overlay {
  padding: 0em;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
  background: transparent;
  border-radius: 5px!important;
}
/* change style */
.masthead-menu .fixed.overlay {
  position: fixed;
  background: #fff;
  width: 98%;
  /*max-width: 1128px;*/
  background-color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 5px!important;
}
.masthead-menu .overlay .item,
.masthead-menu .overlay .item:hover {
  color: rgba(255,255,255,.9)!important;
  align-self: center!important;
}
.masthead-menu .fixed.overlay .item {
  color: #333!important;
}
.masthead-menu .fixed.overlay .item:hover {
  color: #999!important;
}
.feature.column {
  cursor: pointer;
  transition: all 0.15s ease;
}
.feature.column:hover {
  margin-top: -.75rem!important;
}
.feature.modal .description {
  margin: .75rem 0;
}

.feature.modal .image img {
   width: auto!important;
   height: 100%;
   max-height: 320px;
   margin: 0 auto; padding: 1rem
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  .masthead .text.container {
    right: 50%; bottom: 50%;
    transform: translate(50%, 50%);
    text-align: center;
  }
}