body {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #000000;
	line-height: 30px;
  background-color: #ffffff;
	/*background: url('../img/backgrounds/bg-login2.jpg');*/
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;

	height: 100%;
}

body > .grid {
	height: 100%;
	margin: 0!important
}

.white.text {
	color: #fff!important;
}

.column {
    width: 100%;
    /*max-width: 300px;*/
    z-index: 2;
    align-items: center;
    margin: 0 auto;
}
/*.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}*/

h1.heading {
	font-size: 40px;
	/*position: fixed;
	top: 3rem; left: 50%;
	transform: translateX(-50%)*/
}

.auth-container {
	display: flex!important;
}

.title {
	letter-spacing: 2px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.title.no-margin {
	margin-top: 0
}
.message.mobol, .message.mobox{
	margin-bottom: 20px !important;
} 
.mobox, .mobol {
	width: 100%;
	margin:auto;
}

@media only screen and (min-width: 400px) {
	.mobox {
		/*max-width: 500px;*/
		margin:0 auto !important;
	}
	.mobol {
		/*max-width: 350px;*/
		margin:0 auto !important;
	}
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #01aef0;
	text-decoration: none;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

img { max-width: 100%; }

::-moz-selection { background: #4665b5; color: #fff; text-shadow: none; }
::selection { background: #4665b5; color: #fff; text-shadow: none; }
::placeholder {
    color: #777!important;
    opacity: 1;
}

.auth-form {
	align-items: center;
	/*background-color: transparent!important;*/
	/*background-color: rgba(255,255,255,.5)!important;*/
	box-shadow: none!important;
	border: none!important;

	border-radius: .75rem;
	margin: 0!important;
}
.auth-form  > .column {
	height: 100%;
	border-left-color: rgba(255,255,255,.5)!important;
	padding: 1rem
}

.icon.input > .icon {
	/*height: 80%!important;
	top: 10%!important;
	width: 2.5rem!important;
	border-right: 1px solid #333*/
	width: 36px!important;
    border-right: 1px solid #333;
    padding: 6px 8px;
}
.ui[class*="left icon"].input > input {
	padding-left: 3rem!important;
	background: rgba(255,255,255,.85);
}
img.icon {
	position: absolute;
	top: 50%;
	left: 1px;
	transform: translateY(-50%);
	width: 20px;
	opacity: .5
}

.submit.button {
	letter-spacing: 2px;
	font-weight: 300;
	text-transform: uppercase;
	background-color: #01aef099;
	color: #fff;
}
.submit.button:hover {
	background-color: #01aef0cc;
	color: #fff;
}
.submit.button:active,
.submit.button:focus {
	background-color: #01aef0ff;
	color: #fff;
}
.ui.grid.field > .column {
	padding: 0;
}

.center-border {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	background: #fff;
	width: 2px!important;
	height: 100%;
	padding: 0!important;

	display: none;
}

/***** Media queries *****/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

	.column {
	    max-width: 480px;
	}
	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.top-content .container > .row > div:last-child {
		border-left: 1px solid #fff
	}
	.top-content .container{
		max-width: 720px;
	}
	.login-tools > div {
		text-align: left;
	}

	.logo {
		height: 200px
	}
	.column {
	    max-width: 600px;
	}

	.ui.grid.field > .column:first-child {
		text-align: left;
	}
	.ui.grid.field > .column:last-child {
		text-align: right
	}
	.auth-form  > .column {
		padding-left:  4rem!important;
		padding-right: 4rem!important;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.top-content .container {
		max-width: 100%;
	}
	.column {
	    /*max-width: 100%;*/
	    max-width: 960px
	}

	.form-bottom {
		width: 400px;
	}
	.login-tools > div:first-child {
		text-align: left;
	}
	.login-tools > div:last-child {
		text-align: right;
	}
	.logo {
		height: 250px
	}
	.center-border {
		display: block
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
/*	.top-content .container{
		max-width: 90%;
	}
	.column {
	    max-width: 90%;
	}*/
	.column {
	    max-width: 1180px
	}

	.auth-form  > .column {
		padding-left:  8rem!important;
		padding-right: 8rem!important;
	}
	.auth-form.register  > .column {
		padding-left:  5rem!important;
		padding-right: 5rem!important;
	}
}



.ui.search > .results .result .title {
    text-align: left !important;
}
.tabel{ 
  text-align: left;
  width: 100%;
  border-spacing: 0px;
}
.tabel td{ 
  padding-top:  0.5rem!important;
  padding-bottom: 0.5rem!important;
}

